@model IEnumerable<SoftwareDataBase.Models.Autore>

@{
    ViewBag.Title = "Autores";
    WebGrid grid = new WebGrid(Model);
}
<link href="~/Content/MisEstilosGrid.css" rel="stylesheet" />
<h2>Autores</h2>
<!--Con esto podemos Paginar y filtrar por columnas-->



@grid.GetHtml(
    fillEmptyRows: false,
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",

    mode: WebGridPagerModes.All,
    firstText: "<< Primera",
    previousText: "< Anterior",
    nextText: "Siguiente >",
    lastText: "Última >>",
columns: new[]
{
    grid.Column("ID",header:"Codigo"),
    grid.Column("Apellido",header:"Apellido"),
    grid.Column("Nombre",header:"Nombre"),
    grid.Column("IdPais",header:"Cod.Pais"),
    grid.Column("Pais.Nombre",header:"Pais"),
    //Podemos usar el mapping en el primer parametro
    grid.Column("FechaNacimiento",header:"Fecha Nacimiento",format: (item) => string.Format("{0:dd/MM/yyyy}", item.FechaNacimiento)),
    grid.Column("",
          header: "Acciones",
          format: @<text>
    @Html.ActionLink("Editar", "Edit", new { id = item.ID })
    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
        </text>
     )
})







